*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
img{
  max-width: 100%;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
}
.header__top{
	display: block;
	height: 45px;
	background: #37a14c;
	font-size: 12px;

}
.wraper{
	max-width: 990px;
	margin: 0 auto;
	padding: 0 10px;
}
.header__top a{
	color: #fff;
	text-decoration: none;
	margin-top: 16px;
	display: inline-block;
}
.header__top