*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
img{
  max-width: 100%;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
  font-family: Arial;
}
.header__top{
	display: block;
	min-height: 45px;
	background: #37a14c;
	font-size: 16px;
	/*text-align:center;*/
}
.wraper{
	max-width: 990px;
	margin: 0 auto;
	text-align: center;
}
.margin{
	margin-bottom: 10px;
}
.header__top a{
	color: #fff;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	margin: 8px 3px 9px;
}
.icon-conteiner{
	display: inline-block;
}

/*.header__bottom{
	text-align: center;
}*/
.skype-info:before{
	content: "Скайп:";
	font-size: 16px;
}

.contact-info_item{
	min-width: 265px;
	padding-bottom: 10px;
}
.contact-info_item_name{
	display: inline-block;
	vertical-align: top;
	width: 89px;
	color: #0f680e;
	font-size: 16px;
	text-align: initial;
}
.contact-info_item_value{
	display: inline-block;
	text-align: initial;
	width: 179px;
	
}
.contact-info_item_value a{
	text-decoration: none;
	color: #0f680e;
	font-size: 20px;
}	
a.icon.icon-icon-skype {
    display: inline-block;
    vertical-align: middle;
}
.skype-info a{
	text-decoration: none;
	font-style: italic;
}

.server-link{
	display: block;
	width: 136px;
	height: 37px;
	border-radius: 3px;
	border-top: 1px solid #f3ec19;
	border-bottom: 1px solid #293224 ;
	background: #fdd008;
	text-align: center;
	margin: 11px auto 0;
} 
.server-link a{
	text-decoration: none;
	line-height: 16px;
	color: #fff;
	font-size: 16px;
	padding: 10px 0;
	display: block;
}

.navigation-menu{
	font-size: 0;
	margin-bottom: 10px; 
	display: block;
	min-height: 45px;
}
.navigation-menu__item{
	text-align: center; 
	border-right: 1px solid #57e974;
	border-left: 1px solid #0f680e;
	background: #51c066; /* Old browsers */
	background: -moz-linear-gradient(top, #51c066 0%, #3d9b50 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #51c066 0%,#3d9b50 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #51c066 0%,#3d9b50 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51c066', endColorstr='#3d9b50',GradientType=0 ); /* IE6-9 */
}
.navigation-menu__item a{
	display: block;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	height: 45px;
	line-height: 45px;
	text-decoration: none;
}
.navigation-menu__item.active{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4cda67+0,35a34b+100 */
	background: #4cda67; /* Old browsers */
	background: -moz-linear-gradient(top, #4cda67 0%, #35a34b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #4cda67 0%,#35a34b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #4cda67 0%,#35a34b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cda67', endColorstr='#35a34b',GradientType=0 ); /* IE6-9 */
}
.navigation-menu__item:hover{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4cda67+0,35a34b+100 */
	background: #4cda67; /* Old browsers */
	background: -moz-linear-gradient(top, #4cda67 0%, #35a34b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #4cda67 0%,#35a34b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #4cda67 0%,#35a34b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cda67', endColorstr='#35a34b',GradientType=0 ); /* IE6-9 */
}


.prefooter .wraper > a{
	margin: 10px 0;
	color: #fff;
	text-decoration: none;
	display: inline-block;
}
.prefooter .contact-info_item_name, .prefooter .contact-info_item_value a{
	color: black;
}
.prefooter{
	/*text-align: center;*/
}
.prefooter:nth-child(1){
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fec50d+0,f1b107+100 */
	background: #fec50d; /* Old browsers */
	background: -moz-linear-gradient(top, #fec50d 0%, #f1b107 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fec50d 0%,#f1b107 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fec50d 0%,#f1b107 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec50d', endColorstr='#f1b107',GradientType=0 ); /* IE6-9 */
}
.prefooter:nth-child(2){

	
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45bb5c+0,3d9b50+100 */
	background: #45bb5c; /* Old browsers */
	background: -moz-linear-gradient(top, #45bb5c 0%, #3d9b50 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #45bb5c 0%,#3d9b50 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #45bb5c 0%,#3d9b50 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45bb5c', endColorstr='#3d9b50',GradientType=0 ); /* IE6-9 */
}
.flex-container{
	padding: 10px 4px;
	display: flex;
	justify-content: space-between;
	list-style: none;
}
.footer__text{
	padding: 4px 23px;
	font-size: 14px;
	line-height: 57px;
	text-align:left;
}
